/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
} */

.App {
  text-align: center;
}

* {
	font-family: Centra;
	font-weight: 700;
}


body {
  background-color: #121212;
  /* background-image: linear-gradient(to right bottom, #c0414d, #d0795c, #dbaa7f, #e8d6b4, #fffff1); */
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text-container {
  padding: 10px; /* Padding around the text */
  word-wrap: break-word; /* Enable word wrapping */
  width: fit-content; /* Adjust the width based on the content */
  max-width: 60%; /* Limit the width to the container's width */
  position: absolute;
}

.container {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
}

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #DAA520;
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  word-wrap: break-word;
}

.aboutme-header-content {
  height: 50%;
}

.aboutme-centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutme-background-video {
  width: 50%;
  height: 50%;
  z-index: -1;
}

.topbar-info {
  display: flex;
  background-image: linear-gradient(to right bottom, #c0414d, #d0795c, #dbaa7f, #e8d6b4, #fffff1);
}

.social-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.icon {
  color: white;
  transition: transform 0.3s ease;
}

.icon:visited{
  color: white;
}

.menu-button {
  color: white;
}

.icon:hover {
  transform: scale(1.2);
}